{% macro input(
    name,
    label,
    type = "text",
    icon = "",
    properties = "",
    pattern = "",
    value = "",
    class = "") %}
    <div class="{% if type == "checkbox" %}checkbox-container{% elseif type == "toggle" %}toggle-container{% else %}field-container{% endif %}{% if class != "" %} {{ class }}{% endif %}">
        {% if icon != "" %}
            <i class="fi {{ icon }}"></i>
        {% endif %}
        <input id="{{ name }}"
               name="{{ name }}"
               type="{% if type == "toggle" %}checkbox{% else %}{{ type }}{% endif %}"
               {% if pattern != "" %}pattern="{{ pattern }}"{% endif %}
               {% if value != ""%}value="{{ value }}"{% endif %}
               {% if type != "checkbox" and type != "toggle"%}
                   autocomplete="off"
                   placeholder=" "
               {% endif %}
               {{ properties }}>
        <label for="{{ name }}">
            {% if type == "checkbox" %}
                <span class="checkbox-button">
                    <svg viewbox="-4 -4 20 20">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                    </svg>
                </span>
            {% endif %}
            {{ label }}
            {% if type == "toggle" %}
                <span class="toggle-button"></span>
            {% endif %}
        </label>
    </div>
{% endmacro input %}