{% from "macros/button.twig" import button %}
{% from "macros/input.twig" import input %}
{% from "macros/token.twig" import token %}

{% extends "partials/layout.html.twig" %}
{# formulaire d'inscription d'entreprise : #}
{% block title %}Se connecter{% endblock %}
{% block head %}<script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.425/build/spline-viewer.js"></script>{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <main class="h-screen flex items-center justify-center gap-8 relative">
        {{ button("Accueil", "fi-rr-angle-small-left", route("home"), "!absolute !pl-2 top-16 left-0") }}
        <h6 class="w-[36rem]">Ajouter son entreprise</h6>
        <div class="absolute -left-12 -z-10">
            {#            <spline-viewer url="https://prod.spline.design/u3W7RtljDhjVFvKJ/scene.splinecode"></spline-viewer>#}
        </div>
        <form class="flex flex-col items-center gap-4" action="{{ route("entrepriseAdd") }}" method="post">
            {{ input("raison_sociale", "Nom de l'entreprise", "text", "required") }}
            {{ input("adresse_voie", "Adresse de l'entreprise", "text", "required") }}
            {{ input("code_naf", "Code Naf", "text", "required") }}
            {{ input("telephone", "Téléphone", "text", "required") }}
            {{ input("email", "Email", "email", "required") }}
            {{ input("siret", "Siret", "text", "required") }}
            {{ input("statut_juridique", "Statut Juridique", "text", "required") }}
            {{ input("type_structure", "Type de structure", "text", "required") }}
            {{ input("effectif", "Effectif", "number", "required") }}
            {{ input("site", "Site web", "text", "required") }}
            {{ input("fax", "Fax", "text", "required") }}
            {{ input("id_code_postal", "Code Postal", "text", "required") }}
            {{ token(token) }}
            <input type="submit" value="Ajouter" class="button-primary" >
        </form>
    </main>
{% endblock %}